*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

.DS_Store

#Binaries
src/Debug
src/Debug/*
src/Release
src/Release/*
src/ParaCells/Debug
src/ParaCells/Debug/*
src/ParaCells/Release
src/ParaCells/Release/*
src/bin
src/bin/*
bin/
